<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Consult</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Consult.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />


    <link rel="shortcut icon" href="~/lib/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" asp-append-version="true">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">

    <title>Responsive Website Travel</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a class="nav__logo" asp-area="" asp-controller="Home" asp-action="Index">Travel</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Home#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Home#discover" class="nav__link">Discover</a>
                    </li>
                    <li class="nav__item">
                        <a href="/Home#place" class="nav__link">Places</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Booking">Bookings</a>
                    </li><li class="nav__item">
                        <a class="nav__link" asp-area="" asp-controller="User" asp-action="Index">Data</a>
                    </li>
                </ul>


            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-function-line"></i>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div class="footer__data">
                    <h3 class="footer__title">Travel</h3>
                    <p class="footer__description">
                        Travel you choose the <br> destination,
                        we offer you the <br> experience.
                    </p>

                </div>

                <div class="footer__data">
                    <h3 class="footer__subtitle">About</h3>
                    <ul style="padding-left:0px;">
                        <li class="footer__item">
                            <a href="" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Features</a>
                        </li>

                    </ul>
                </div>

                <div class="footer__data">
                    <h3 class="footer__subtitle">Company</h3>
                    <ul style="padding-left:0px;">
                        <li class="footer__item">
                            <a href="" class="footer__link">Team</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Plan y Pricing</a>
                        </li>

                    </ul>
                </div>

                <div class="footer__data">
                    <h3 class="footer__subtitle">Support</h3>
                    <ul style ="padding-left:0px;">
                        <li class="footer__item">
                            <a href="" class="footer__link">FAQs</a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__link">Support Center</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="footer__rights">
                <p class="footer__copy">&#169; 2023 Travel. All rigths reserved.</p>
                <div class="footer__terms">
                    <a href="#" class="footer__terms-link">Terms & Agreements</a>
                    <a href="#" class="footer__terms-link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/scrollreveal.min.js" asp-append-version="true"></script>
    <script src="~/js/swiper-bundle.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
